<h1>We're a happy bunch</h1>
<img style="float: right; width: 250px; height: 190px;" src="{{bob}}"><p>If these lines aren't straight, your water's going to run right out of your painting and get your floor wet. Poor old tree. Nothing's gonna make your husband or wife madder than coming home and having a snow-covered dinner. Very easy to work these to death. You don't have to be crazy to do this but it does help. A big strong tree needs big strong roots.</p><p> Let's put a touch more of the magic here. We touch the canvas, the canvas takes what it wants. It takes dark in order to show light. Now let's put some happy little clouds in here. We artists are a different breed of people. We're a happy bunch.
  When you buy that first tube of paint it gives you an artist license. This is truly an almighty mountain. There are no mistakes. You can fix anything that happens. Let all these things just sort of happen. I really believe that if you practice enough you could paint the 'Mona Lisa' with a two-inch brush. Even trees need a friend. We all need friends.
  Maybe there's a happy little bush that lives right there. By now you should be quite happy about what's happening here. We have a fantastic little sky! This piece of canvas is your world. Little trees and bushes grow however makes them happy. </p><p>Let's get crazy. Making all those little fluffies that live in the clouds. You can work and carry-on and put lots of little happy things in here. Use what happens naturally, don't fight it. Don't fight it, use what happens. This painting comes right out of your heart. I sincerely wish for you every possible joy life could bring. I thought today we would make a happy little stream that's just running through the woods here.
</p>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Release the hounds
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Release the hounds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="doggotime"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
